WanStap/WanStap/packages/
WanStap/WanStap/WanStap/bin/
WanStap/WanStap/WanStap/obj/Debug/WanStap.csproj.GenerateResource.Cache
WanStap/WanStap/WanStap/obj/Debug/WanStap.dll
WanStap/WanStap/WanStap/obj/Debug/WanStap.csproj.FileListAbsolute.txt
WanStap/WanStap/WanStap/obj/Debug/WanStap.pdb
